<mat-toolbar class="toolbar-container" color="primary">
  <mat-toolbar-row>
    <div class="main-toolbar">
      <div>{{ "common.title" | translate }}</div>
      <app-toolbar-options></app-toolbar-options>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div style="width: 10%"></div>
  <div *ngIf="!loading" class="page-container">
    <div class="header-library">
      <div class="header-title">
        <app-back-button></app-back-button>
        <h1 *ngIf="project">{{ project.name }}</h1>
      </div>

    </div>
    <div class="compare-aries">
      <app-compare-area  [index]="0"></app-compare-area>
      <app-compare-area [index]="1"></app-compare-area>
    </div>
  </div>
  <app-loader class="page-container" *ngIf="loading"></app-loader>
</div>
