.card {
  cursor: pointer;
  width: 148px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
}

.header {
  font-size: 1em;
  margin-top: 13px;
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
