.area {
  width: 100%;
  height: 90%;
  mat-card {
    padding-left: 5px;
    height: 100%;
  }
}

.loader {
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
}

.textarea{
  width: 100%;
  height: 90%;
  resize: none;
  ::ng-deep.ck {
    p {
      strong {
        font-style: normal;
        color: white;
        background: red;
      }
      i {
        font-style: normal;
        color: white;
        background: #188851;
      }
    }
  }
  ::ng-deep.ck-editor {
    width: 100%;
    height: 100%;
    .ck-editor__top {
      display: none;
    }
    .ck-editor__main {
      width: 100%;
      height: 100%;
      .ck-content {
        box-shadow: none;
        border: none;
        width: 100%;
        height: 100%;
      }
    }
  }
}
