<div>
  <div>
    <h1>{{"common.dropFile" | translate}}</h1>
  </div>
  <mat-form-field class="project-name">
    <input [(ngModel)]="name" type="text" matInput placeholder="{{'common.name' | translate}}">
  </mat-form-field>
  <div *ngIf="name" class="dnd" >
    <ngx-file-drop dropZoneClassName="dnd-area" (onFileDrop)="dropped($event)"
                   (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <button class="browseBtn" mat-button type="button" (click)="openFileSelector()">{{"common.browseFiles" | translate}}</button>
      </ng-template>
    </ngx-file-drop>
  </div>
</div>
